$primary: #636a8a;

.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-position-center {
  background-position: center;
}
.bg-position-bottom {
  background-position: bottom;
}
.bg-position-top {
  background-position: top;
}
.bg-overlay {
  background-blend-mode: overlay;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}

img[alt=Flyer] { width: 100%; }
img[alt=SJBMW] { width: 20%; }
img[alt=THEMOTORCAFE] { width: 20%; }
img[alt=SCCA] { width: 20%; }
img[alt=SBMOTO] { width: 20%; }

span[id=nonum] {display: none; }

.handlelightbg {
background-color: rgba(0,0,0,.5);
    color: #fff;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}